.payments {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.summary {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0;
}
