<form action="" [formGroup]="formGroup">
  <div class="card">
    <h2>{{ this.formGroup.controls['name'].value }}</h2>
    <div class="form-group">
      <label for="was">Было</label>
      <input formControlName="wasIndications" type="number" id="was">
    </div>
    <div class="form-group">
      <label for="now">Стало</label>
      <input formControlName="nowIndications" type="number" id="now">
    </div>
    <div class="form-group">
      <label for="indications">Разница</label>
      <input formControlName="indications" type="number" value="0" id="indications">
    </div>
    <div class="form-group">
      <label for="">Цена за еденицу</label>
      <input formControlName="priceForOne" type="text" value="0">
    </div>
    <div class="form-group">
      <label for="">Цена за '{{ this.formGroup.controls['name'].value }}'</label>
      <input formControlName="count" type="number" value="0">
    </div>
  </div>
</form>
